.container {
    @apply mt-20 items-center;
}

.blogCard {
    @apply bg-white rounded-md h-fit min-h-[380px] m-auto md:min-h-[300px] w-11/12 md:w-full p-5 hover:animate-pulse cursor-pointer;
}

.blogTitle {
    @apply text-base font-bold text-black mb-3 leading-5 min-h-[40px];
    line-height: 1.25rem!important;
    font-weight: 700!important;
    margin-bottom: 0.75rem!important;
    margin-top: 0!important;
}

.blogTableHeader {
    @apply bg-slate-800;
}

.sneakpeak {
    @apply text-xs text-black m-0 min-h-[64px];
    margin: 0!important;
    text-align: left!important;
}

.sneakpeak > p {
    margin: 0!important;
    text-align: left!important;
}

.statsContainer {
    @apply ml-2 md:ml-5 mt-6;
}

.stats {
    @apply bg-slate-500 p-1 rounded-md text-left md:text-center;
}

.stats:last-child {
    @apply ml-2;
}

.stats > p {
    @apply m-0 text-sm text-slate-200 font-bold;
}

.tableContainer {
    @apply w-[80vw] text-black mx-auto my-8 h-[80vh];
}

.blogTable {
    @apply min-w-full divide-y divide-slate-800;
}

.tableHeader {
    @apply px-6 py-3 text-left text-xs font-medium text-gray-200 uppercase tracking-wider;
}

.tableBody {
    @apply bg-white divide-y divide-gray-200;
}

.tableRow {
    @apply px-6 py-4 whitespace-nowrap;
}

.tableRowWrap {
    @apply px-6 py-4 whitespace-normal;
}