.container {
    @apply mt-20 items-center;
}

.blogCard {
    @apply bg-white rounded-md h-fit min-h-[380px] m-auto md:min-h-[300px] w-11/12 md:w-full p-5 hover:animate-pulse cursor-pointer;
}

.blogTitle {
    @apply text-base font-bold text-black mb-3 leading-5 min-h-[40px];
    line-height: 1.25rem!important;
    font-weight: 700!important;
    margin-bottom: 0.75rem!important;
    margin-top: 0!important;
}

.sneakpeak {
    @apply text-xs text-black m-0 min-h-[64px];
    margin: 0!important;
    text-align: left!important;
}

.sneakpeak > p {
    margin: 0!important;
    text-align: left!important;
}

.statsContainer {
    @apply ml-2 md:ml-5 mt-6;
}

.stats {
    @apply bg-slate-500 p-1 rounded-md text-left md:text-center;
}

.stats:last-child {
    @apply ml-2;
}

.stats > p {
    @apply m-0 text-sm text-slate-200 font-bold;
}
