.coolHeading {
    @apply transition-all ease-in-out before:block before:absolute before:-inset-1 bg-purple-500 relative block before:rounded p-4 text-center;
    scroll-margin-top: 16rem;
}

.coolHeading > h3 {
    @apply relative m-0;
}

.formContainer {
    @apply bg-white uppercase w-full h-fit md:h-[39rem] mt-10 rounded p-10 hover:ring-2 hover:ring-purple-500;
    margin-top: 2.5rem!important;
}

.formHeading {
    @apply after:content-['📝'] after:ml-1 mb-8;
    margin-bottom: 2rem!important;
    margin-top: 0!important;
}

.textInputBox {
    @apply w-full px-3 mb-3 md:mb-0;
}

.textInputLabel {
    @apply after:ml-1 block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2;
}

.textInput {
    @apply transition-all ease-in-out appearance-none block w-full text-gray-600 bg-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:ring-2 focus:ring-purple-500 focus:outline-none;
}

textarea.textInput {
    @apply h-40 md:h-[87%];
}

.newsletterInput {
    @apply w-full pl-0 mt-5 flex items-center mb-0 pr-0;
}

.newsletterInput > input {
    @apply mb-0;
}

.submitButton {
    @apply disabled:bg-purple-300 transition-all block m-auto mt-6 uppercase bg-purple-500 hover:bg-purple-700 text-white py-2 px-4 rounded;
}

.submitButtonNewsletter {
    @apply text-xs md:text-base pl-[0.7rem] md:pl-4 ml-5 md:ml-10 mt-5 mb-0 bg-purple-800 disabled:bg-purple-500 w-2/6 md:w-[22%];
}