.container {
    @apply w-screen bg-slate-500;
    height: calc(100vh - 93px);
}

.headingContainer {
    @apply bg-slate-900 h-full w-[40%] p-4;
}

.heading {
    @apply text-white font-extrabold leading-tight text-6xl p-10;
}

.letter {
    @apply hover:text-purple-500 transition-colors delay-200 ease-in;
}

.hovered {
    @apply text-purple-500 animate-pulse;
}

.activeHover {
    @apply border-b-2 border-purple-500/40;
}

.aiPrompt {
    @apply mx-auto;
    width: 55%!important;
}

.aiPromptLabel {
    @apply mx-auto text-xl;
    color: white!important;
    width: 55%!important;
}

.imageContainer {
    @apply rounded ring-2 transition-all ease-in-out bg-gray-100 ring-white hover:ring-2 hover:ring-purple-500;
}

.imageDescriptionContainer {
    @apply text-gray-600 bg-gray-100 p-2 mt-0 font-sans;
}

.description {
    @apply flex justify-between mb-2 items-center text-base;
}

.link {
    @apply underline ml-1 cursor-pointer text-purple-500 font-extralight font-mono mr-1;
}

.date {
    @apply block text-xs;
}

.prompt {
    @apply italic pl-2;
}

.line {
    @apply bg-purple-800 block;
}

.copy {
    @apply mt-2 p-2 text-xs;
}