.container {
    @apply h-fit md:h-56 transition ease-in-out relative hover:ring-2 hover:ring-purple-500 ring-2 ring-white w-full rounded bg-white mt-20 p-5 text-left;
}

.subheading {
    @apply text-left text-xs md:text-base mb-0;
    text-align: left!important;
}

.header {
    @apply mb-0 text-white;
    color: white!important;
    margin: 0!important;
}

.copy {
    @apply text-xs mt-3 text-left pb-0 mb-0;
    text-align: left!important;
}

.inputContainer {
    @apply flex items-center w-full pr-3;
}