.container {
	@apply grid grid-cols-2 gap-1 gap-y-16 gap-x-32 mt-16;
}

.composition {
	@apply relative;
}

.composition>span {
	overflow: visible !important;
}

.overlay {
	@apply absolute inset-0 flex mr-12 text-center;
}

.overlayText {
	@apply pl-10 mx-auto z-10 text-white self-center font-light uppercase text-center;
}

.compositionPhoto {
	transition: all .4s ease-in-out;
	transform: scale(0.9);
	@apply absolute inset-0 z-10 flex opacity-40 hover:opacity-100;
}

.compositionPhoto:hover {
	transform: scale(1.05) translateY(-0.5rem);
	box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
}

.compositionPhoto:hover + .overlay .overlayText {
	opacity: 1;
}

.composition:hover .compositionPhoto:not(:hover) {}