.container {
    @apply relative mb-[-3rem] md:mb-[-2rem] lg:mb-[-18rem] m-auto mt-16 md:mt-0 lg:mt-10 p-0 md:p-5 lg:p-10;
}
.composition {
	@apply w-full relative;
}

.composition > span {
	overflow: visible!important;
}

@media (max-width: 37.5em) {
	.composition {
		padding: 2rem;
		margin-top: -3rem;
		margin-bottom: 2rem;
	}
}

.compositionPhoto {
	overflow: auto!important;
	position: absolute!important;
	z-index: 10;
	transition: all .2s ease-in-out;
}

@media (max-width: 56.25em) {
	.compositionPhoto {
		float: left;
		position: relative;
		width: 33.3%;
		box-shadow: 0 1.5rem 3rem rgba(0, 0, 0, 0.2);
	}
}

@media (min-width: 640px) {
	.compositionPhoto--p1 {
		left: 10rem!important;
	}
}

@media (min-width: 1024px) {
	.compositionPhoto--p1 {
		top: 0!important;
		left: -22.8rem!important;
	}
}

@media (min-width: 640px) {
	.compositionPhoto--p2 {
		left: 10rem!important;
	}
}

@media (min-width: 1024px) {
	.compositionPhoto--p2 {
		left: -25rem!important;
		top: 10rem!important;
	}
}

.compositionPhoto--p2 {
	top: 0;
	transform: scale(1.1);
	z-index: 20;
}

@media (min-width: 640px) {
	.compositionPhoto--p3 {
		left: 10rem!important;
	}
}

@media (min-width: 1024px) {
	.compositionPhoto--p3 {
		left: 36.5rem!important;
		top: -31rem!important;
	}
}

.compositionPhoto:hover {
	transform: scale(1.05) translateY(-0.5rem);
	box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
	z-index: 20;
}

.composition:hover .compositionPhoto:not(:hover) {
	transform: scale(0.9);
}
