.index {
    @apply h-auto w-screen prose prose-lg text-white p-5 m-auto mt-10 prose-img:rounded mb-20;

    /* Headings */

    /* h1 */
    @apply prose-h1:leading-tight md:prose-h1:leading-normal lg:prose-h1:leading-relaxed prose-h1:text-white prose-h1:text-center;
    /* h2 */
    @apply prose-h2:text-white prose-h2:text-center prose-h2:leading-tight md:prose-h2:leading-normal lg:prose-h2:leading-relaxed;
    /* h3 */
    @apply prose-h3:text-white;
    /* h4 */
    @apply prose-h4:mt-0;

    /* Text */
    
    /* p */
    @apply prose-p:text-center; 

    /* Breakpoints */
    @apply md:p-0 lg:p-0 md:prose-xl lg:prose-2xl;

}

.headingEffect {
    @apply text-purple-500 italic leading-none md:leading-normal lg:leading-relaxed;
}

.headingContainer {
    transform: rotateX(0deg);
}

@keyframes moveFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    80% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

@keyframes moveFromRight {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    80% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translate(0);
    }
}

.animationLeft {
    @apply block;
    animation: moveFromLeft 1s ease-in;

}

.animationRight {
    @apply block;
    animation: moveFromRight 1s ease-in;
}
